





  <div class= "search menu">
    <div class= "search-input">
      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
         <option value = "last_name">Alphabetical</option>
         <option value = "age">Newest</option>
      </select>
     </div>
  </div>


  <div class ="legislator-block">
     <ul class = "phones">
         <li ng-repeat="legislator in legislators.results| filter:query | orderBy:orderProp">
             <!-- <a href ="#/phones/{{phone.id}}">
               <img class ="thumb" ng-src="{{phone.imageUrl}}">
             </a> -->
             <a href = "#">{{legislator.first_name}} {{legislator.last_name}}</a>
          <p> This person is a {{legislator.title}}</p><p>She/He hails from {{legislator.state_name}}</p>
         </li>
     </ul>
  </div>


<p> Total number of phones so far is {{legislator.length}}</p>


<p> 1+1 = {{1+1}}</p>